<h1>POSTTEST 4</h1>
<h3>Ricky Novenda Putra</h3>
<h3>2009106073</h3>

<h4>Kita Install dulu Library yang dibutuhkan</h4>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Untuk Melakukan Data Split
from sklearn.model_selection import train_test_split
#Untuk Melakukan Data Transforming
from sklearn.preprocessing import StandardScaler #standarization
from sklearn.preprocessing import MinMaxScaler #normalization
#Untuk Melakukan Data Cleaning
from sklearn.impute import SimpleImputer
#Untuk Melakukan Data Encoding
from sklearn.preprocessing import OrdinalEncoder #ordinal encoder
from sklearn.preprocessing import OneHotEncoder #onehot encorder

<h1>DATASET HEALTHCARE</h1>

<h4>Untuk Melihat Dataset</h4>

In [3]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [4]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [6]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

<h1>DATA SPLIT</h1>

<h4>Train/test split adalah salah satu metode yang dapat digunakan untuk
mengevaluasi performa model machine learning. Metode evaluasi model ini
membagi dataset menjadi dua bagian yakni bagian yang digunakan untuk training
data dan untuk testing data dengan proporsi tertentu.</h4>

In [7]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3)

In [9]:
print(f"Panjang X_train : {len(x_train)}",
      f"Panjang X_test : {len(x_test)}",
      f"Panjang y_train : {len(y_train)}",
      f"Panjang y_test : {len(y_test)}",
      sep='\n')

Panjang X_train : 3577
Panjang X_test : 1533
Panjang y_train : 3577
Panjang y_test : 1533

<h1>DATA TRANSFORMING</h1>

<h4>Transformasi data adalah merubah skala data kedalam bentuk lain sehingga
data memiliki distribusi yang diharapkan.Scaling adalah suatu cara untuk membuat
numerical data pada dataset memiliki rentang nilai (scale) yang sama.</h4>

In [10]:
normalisasi_dataset = df.copy()

In [11]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(normalisasi_dataset[['age', 'hypertension', 'stroke']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={0 :'age', 1 :'hypertension', 2 : 'stroke'}, inplace=True)

normalize_dataset.head(5)

        age  hypertension  stroke
0  0.816895           0.0     1.0
1  0.743652           0.0     1.0
2  0.975586           0.0     1.0
3  0.597168           0.0     1.0
4  0.963379           1.0     1.0

<h1>DATA CLEANING</h1>

<h4>Data cleaning adalah memperbarui, membetulkan, dan membuat data menjadi lebih rapi.</h4>

In [43]:
dataset_cleaning = df.copy()

In [44]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

<h4>Modus</h4>

In [45]:
dataset_cleaning['bmi'] = imputer_modus.fit_transform(dataset_cleaning[['bmi']])

dataset_cleaning.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

<h4>Mean</h4>

In [47]:
dataset_cleaning['age'] = imputer_mean.fit_transform(dataset_cleaning[['age']])

dataset_cleaning.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

<h4>Menghapus Record/Feature</h4>

In [48]:
dataset_cleaning.dropna(inplace=True)

dataset_cleaning.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

<h4>Data Duplikat</h4>

In [49]:
dataset_duplicate = df.copy()

dataset_duplicate.duplicated().sum()

0

In [50]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

<h2>BAGIAN STANDARISASI SETELAH CLEANING DATA</h2>

In [52]:
standarisasi_dataset = dataset_cleaning

In [53]:
ss = StandardScaler()
Scaled_data = ss.fit_transform(standarisasi_dataset[['age', 'hypertension', 'heart_disease', 'stroke']])

In [54]:
print("Nilai Sebelum Standarisasi : ")
print("Standar Deviasi : ", np.std(standarisasi_dataset))

Nilai Sebelum Standarisasi :
Standar Deviasi :  id                   21159.650905
age                     22.610434
hypertension             0.296578
heart_disease            0.226041
avg_glucose_level       45.279129
bmi                      7.697356
stroke                   0.215299
dtype: float64

C:\Users\ricky\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

<h2>DATA ENCODING</h2>

In [55]:
dataset_ordinal = df.copy()
dataset_one_hot = df.copy()

In [56]:
df['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [57]:
encoder_ordinal =OrdinalEncoder()

#encoding kan
dataset_ordinal['age'] = encoder_ordinal.fit_transform(dataset_ordinal[['age']]).astype('int64')

#lihat
dataset_ordinal.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,88,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,82,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,101,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,70,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,100,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [58]:
dataset_ordinal['age'].unique()

array([ 88,  82, 101,  70, 100, 102,  95,  90,  80,  99,  75,  71,  85,
        96,  81,  78,  92,  73, 103,  86,  79,  63,  69,  93,  84,  97,
        60,  98,  94,  77,  66,  91,  87,  72,  64,  89,  68,  74,  59,
        76,  15,  67,  53,  35,  24,  29,  58,  61,  56,  41,  65,  46,
        48,  44,  38,  34,  25,  37,  43,  51,  50,  32,  42,  39,  54,
        45,  55,  57,   7,  62,  10,  26,  47,  52,  28,  33,  83,  23,
        30,  36,  49,  31,  21,   3,  12,  40,  27,  13,  11,  16,  20,
         2,  19,  18,   8,  22,  14,   9,   4,   0,  17,   6,   5,   1],
      dtype=int64)

In [59]:
temp_dataset = pd.get_dummies(dataset_one_hot[['age']])

temp_dataset = pd.DataFrame(temp_dataset)

dataset_one_hot.drop('age', axis=1, inplace=True)

dataset_one_hot = dataset_one_hot.join(temp_dataset)
dataset_one_hot.head(5)

,id,gender,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,age
0,9046,Male,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,67.0
1,51676,Female,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,61.0
2,31112,Male,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,80.0
3,60182,Female,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,49.0
4,1665,Female,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,79.0