In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("shopee_ulasan_label7.csv")

In [27]:
df

,user,ulasan,rating,label,tanggal
0,Juwairiah Juwairiah,Aplikasi shopee aku kok gak bisa gunain gratis...,1,negatif,06 Maret 2021
1,Sabyan Keisha,Menyebalkan vocer penguna baru tidak bisa di p...,1,negatif,12 Maret 2021
2,Teno Tee,"Saya sebagai penjual kecewa, penarikan saldo m...",1,negatif,27 Februari 2021
3,Nana nae,Aplukasi apa sih ini disuruh buat nama uda gue...,1,negatif,03 Maret 2021
4,Nurul Hamidah,Makin kesini Shoppe makin gak jelas. Apaan kab...,1,negatif,14 Maret 2021
...,...,...,...,...,...
2932,Ameliatus Sholihah,Sangat nyaman untuk berbelanja di masa pandemi...,5,positif,02 Maret 2021
2933,Dwipa Aulia,Aplikasi ini sangat burik tapi sangat bagus se...,5,positif,15 Maret 2021
2934,`uci sefira,"shopee bagus banget, tapi skrng ga ada gratong...",5,positif,03 Maret 2021
2935,Irvani Juita,aplikasi jelek!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!...,5,positif,22 Januari 2021
2936,Pengguna Google,Tambah lagi jadi bintang 5 karna vocer gratis ...,5,positif,07 Februari 2021

In [28]:
df.dtypes

user       object
ulasan     object
rating      int64
label      object
tanggal    object
dtype: object

In [29]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

mydictionary = {
    "Jumlah Total Record": totalRecord,     
    "Nama Attribute": namaAttribute,        
    "Jumlah Objek": jumlahObjek,            
    "Jumlah Angka": jumlahAngka,            
    "Jumlah NULL": jumlahNULL,         
}

pd.Series(mydictionary)

Jumlah Total Record                                                 2937
Nama Attribute         Index(['user', 'ulasan', 'rating', 'label', 't...
Jumlah Objek                                                           4
Jumlah Angka                                                           1
Jumlah NULL                                                            0
dtype: object

In [30]:
df.select_dtypes(include=['int64']).mean()

rating    3.582567
dtype: float64

In [33]:
df.select_dtypes(include=['int64']).std()

rating    1.786857
dtype: float64

In [32]:
df.select_dtypes(include=['int64']).min()

rating    1
dtype: int64

In [34]:
df.select_dtypes(include=['int64']).max()

rating    5
dtype: int64

In [35]:
df.select_dtypes(include=['int64']).quantile([0.25,0.5,0.75])

      rating
0.25     1.0
0.50     5.0
0.75     5.0

In [36]:
df.describe()

            rating
count  2937.000000
mean      3.582567
std       1.786857
min       1.000000
25%       1.000000
50%       5.000000
75%       5.000000
max       5.000000

In [37]:
df.select_dtypes(include=['int64']).corr()

        rating
rating     1.0

In [38]:
df["rating"] = df["rating"].astype('float64', errors='ignore')
df["rating"].dtypes

dtype('float64')

In [39]:
df["rating"] = df["rating"].astype('int64', errors='ignore')

In [40]:
pd.options.display.float_format = '{:.3f}'.format
df.rating.astype('float64')

0      1.000
1      1.000
2      1.000
3      1.000
4      1.000
        ...
2932   5.000
2933   5.000
2934   5.000
2935   5.000
2936   5.000
Name: rating, Length: 2937, dtype: float64

In [41]:
df.select_dtypes(include=['int64']).head(10)

   rating
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

In [44]:
df.select_dtypes(include=['int64']).to_csv("attribut_bertipe_angka.csv", index=False)