<h1>POSTTEST 5</h1>
<h3>Ricky Novenda Putra</h3>
<h3>2009106073</h3>

<h4>Kita Install dulu Library yang dibutuhkan</h4>

In [129]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

<h1>DATASET HEALTHCARE</h1>

<h4>Untuk Melihat Dataset</h4>

In [130]:
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

<h1>DATA RECORD</h1>

<h4>Untuk Melihat Tipe Data dan Data Record.</h4>

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [132]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [133]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 5110 baris

<h1>DATA CLEANING</h1>

<h4>Data cleaning adalah memperbarui, membetulkan, dan membuat data menjadi lebih rapi.</h4>

In [134]:
dataset_cleaning = df.copy()

In [135]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

<h2>MODUS</h2>

In [136]:
dataset_cleaning['bmi'] = imputer_mean.fit_transform(dataset_cleaning[['bmi']])

dataset_cleaning.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

<h2>MEDIAN NILAI TENGAH</h2>

In [137]:
dataset_cleaning['age'] = imputer_median.fit_transform(dataset_cleaning[['age']])

dataset_cleaning.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [138]:
dataset_cleaning.dropna(inplace=True)
dataset_cleaning.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [139]:
len(dataset_cleaning)

5110

<h2>DATA DUPLIKAT</h2>

In [140]:
dataset_duplicate = df.copy()
dataset_duplicate.duplicated().sum()

0

In [141]:
dataset_duplicate.drop_duplicates(inplace=True)
dataset_duplicate.duplicated().sum()

0

<h1>K-Nearest Neighbour (K-NN)</h1>

<h4>Algoritma Nearest Neighbor Retrieval (K-Nearest Neighbor atau K-NN) adalah sebuah algoritma untuk melakukan klasifikasi terhadap objek dengan data pembe- lajaran yang jaraknya paling dekat dengan objek tersebut.</h4>

In [142]:
dataset_cleaning.head(7)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.000000,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.400000,never smoked,1

In [143]:
dataset_cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [166]:
nilai_x = dataset_cleaning[['age','hypertension','heart_disease','stroke']]
nilai_y = dataset_cleaning['ever_married']

In [167]:
x_train, x_test, y_train, y_test = train_test_split(nilai_x, nilai_y, random_state=0, test_size=.3)

In [168]:
dataset_classifier = KNeighborsClassifier(n_neighbors = 7)

In [169]:
dataset_classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [170]:
predicted_value = dataset_classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [171]:
print(f'Hasil Prediction : {predicted_value}',
     f'Class : {y_test}',
     f'Accuracy : {accuracy}',
     sep = '\n'
)

Hasil Prediction : ['Yes' 'No' 'Yes' ... 'Yes' 'Yes' 'Yes']
Class : 42      Yes
380      No
3524    Yes
352      No
4927     No
       ...
929     Yes
2629    Yes
663     Yes
2303    Yes
3122    Yes
Name: ever_married, Length: 1533, dtype: object
Accuracy : 0.8799739073711677

<h1>Naïve Bayes</h1>

<h4>Naive Bayes adalah metode klasifikasi data berdasarkan probabilitas yang bisa saja terjadi di masa depan. Metode ini dianggap simpel dan efektif untuk diterapkan dalam analisis perusahaan.</h4>

In [177]:
nilai_x = dataset_cleaning[['age','hypertension','heart_disease','stroke']]
nilai_y = dataset_cleaning['gender']

In [178]:
x_train, x_test, y_train, y_test = train_test_split(nilai_x, nilai_y, test_size=1, shuffle=False, stratify=None)

In [179]:
dataset_classifier = GaussianNB()

In [180]:
dataset_classifier.fit(x_train,y_train)

GaussianNB()

In [181]:
predicted_value = dataset_classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [182]:
print(f'Hasil Prediction : {predicted_value}',
     f'Class : {y_test}',
     f'Accuracy : {accuracy}',
     sep = '\n'
)

Hasil Prediction : ['Female']
Class : 5109    Female
Name: gender, dtype: object
Accuracy : 1.0

In [183]:
dataset_classifier.score(x_test,y_test)

1.0